cron/

# old webpage design (darwin tree)
adequate.bk1.css
index.bk1.html

# suckless design 
adequate.bk2.css
index.bk2.html

# papar-trackr newsletter scripts
patch_newsletter_header.py
push-paper-trackr-newsletter.sh
