cron/

# old webpage design (darwin tree)
style.bk1.css
index.bk1.html

# suckless design 
style.bk2.css
index.bk2.html

# purple design 
style.bk3.css
index.bk3.html

# paper-trackr newsletter scripts
patch_newsletter_header.py
convert_newsletter_email_to_website.py
push-paper-trackr-newsletter.sh

# old newsletter
newsletter/paper-trackr_newsletter.html
